.container{
    border: 1px solid black;
    /* display: flex; */
    /* flex-direction: row; */
    border-radius: 15px;
    /* flex-wrap: wrap; */
    /* gap: 1em; */
    /* -------------- */
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    background-color: rgb(94, 83, 89);
    
}

/* width: 85vw;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 20px;
background-color: rgb(5, 5, 91); */