.barra{
    position: absolute;
    display: flex;
    font-size: 250px;
    text-decoration: none;
    height: 35px;
    flex-direction: row-reverse;
    left: 30vw;
    margin-bottom: 5px;
    
    
  }

  .buttonSelect{
    color: rgb(0, 0, 0);
    background: #fbff1aa9;
   
    font-size: 15px;
    height: 100%;
    border: 0ex;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    margin-left: 10px;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.472);
  }